# Python Tutorial Data Mining 4334/5334.005
contents:

1. Introduction : Basic data types, Arithmetic operators, Basic functions, math module, and String maipulations.
2. Compound Data Types : List, Dictionary, Tuple, Set
3. Control Flow Statements: if,elif,else, for, and while.
4. Functions: user defined functions, lambda functions

# 1 . Introduction : Basic data types, Arithmetic operators, String manipulation.
 Python is a high level language with extensive libraries available to perform various data analysis tasks.

 1.Dynamically typed - you dont need to explicitly define type of variable before using it.

2 .Instead of { } , python uses whitespace indentations to group together related statements in loops.

In [ ]:
'''
Rules for variable names :

1.names can not start with a number

2.names can not contain spaces, use _ intead

3.names can not contain any of these symbols:  :'",<>/?|\!@#%^&*~-+

4.it's considered best practice (PEP8) that names are lowercase with underscores

5.avoid using Python built-in keywords like list and str

'''
subject_name='data mining'
subject_name

'data mining'

Basic data type

In [ ]:

#integer type, float type, string type, boolean type - basic DATA TyPES in Python
numb=6789
print(numb)
print(type(numb))
name='data mining'
print(type(name))
floating=6.799
print(type(floating))

6789
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
#Arithmetic operators : +,-,*,/,//,%
num1=20
num2=30

addition=num1+num2
subt=num1-num2
mult=num1*num2
division=num1/num2
floordivision=num1//num2
modulo=num1%num2

print(addition)
print(subt)
print(mult)
print(division)
print(floordivision)
print(modulo)

50
-10
600
0.6666666666666666
0
20

In [ ]:
# Arthmetic operators can be combined with assignment operator =
num3=50

num3+=100 # num3=num3+100
print(num3)

# reassignment is possible without any error
num3=500
print(num3)

150
500

In [ ]:
#some useful builtin functions in python


# to get power of a number, we use ** operator, ex: **2(square),..
num4=50
powerr=num4**2
print(powerr)

#Similarly, you can use pow function ,that takes(number, power_value)
powerrr=pow(50,2)
print('using pow ',powerr)

2500
using pow  2500

In [ ]:
# Round function to round the values: round(float value, optional : upto decimal pts)

floating_pt=1.51
floating_pt2=1.47

round1=round(floating_pt)
round2=round(floating_pt2)

print(round1)
print(round2)

2
1

In [ ]:
#Type Casting - converting one data type to another data type
integer_val= 3

changing_value=float(integer_val)

print(type(changing_value))

<class 'float'>

In [ ]:
# EXPLORING MATH MODULE - sqrt , log10,exp,pi,fabs,factorial,ceil,floor,nan,isnan

import math

print(math.sqrt(25))
print(math.log10(2))
print(math.exp(5))
print(math.pi)
print(math.fabs(-100))
print(math.factorial(5)) #5.4.3.2.1
print(math.ceil(1.2))
print(math.floor(1.2))

a=math.nan

print(math.isnan(a))

5.0
0.3010299956639812
148.4131591025766
3.141592653589793
100.0
120
2
1
True

In [ ]:
# Boolean data types
a= True
b=True
print(type(a))

<class 'bool'>

In [ ]:
#Logical operations - and, or and not
# and - both the conditions need to be true   - to be TRUE
# or - either of the condition needs to be true - to be TRUE
# not - oppisite of True

credit_rating=True
income=False
approved=credit_rating or income
approved

not_approved= not(credit_rating or income)
print('not op',not_approved)

not op False

###String manipulation
###strings are iterable, ordered, and immutable object.

In [ ]:


# ordered - indexing , and slicing
univ='Ut Arlington'

# indexing - starts from zero, n
# univ[start,stop,step] - [0, n, 1]
#     0         -2 -1

univ[-1]

print('part of the string', univ[3:])
print('reverse of  string',univ[::-1])
print('sub string',univ[9:])

part of the string Arlington
reverse of  string notgnilrA tU
sub string ton

In [ ]:
# immutability
immutable='cannot change'

#immutable[0]='P'

In [ ]:
#string functions - upper(), lower(), and len()

subject='strings'
print('upper',subject.upper())
print('lower',subject.lower())
print('length of the string ',len(subject))

upper STRINGS
lower strings
length of the string  7

In [ ]:
  # split(seperator), replace(old,new), and find(substr)
#split()  -  take   the string and splits into a list of words based on the seperator
university='university of texas arlington'
splitted=university.split()
print(splitted)

print('replace function ', university.replace('of', 'UTA'))

print('find function', university.find('texas'))

#' '.join(iterable)

print('join function', " ".join(['R1','university']) )
# +, in , ==, <

combined=subject+university
print(combined)

print( 'app' in 'apple')

print('apple' < 'apple')

['university', 'of', 'texas', 'arlington']
replace function  university UTA texas arlington
find function 14
join function R1 university
stringsuniversity of texas arlington
True
False

#2. compound Data Types : List, Dictionary, Tuple, Set
# List
Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

so, List is **Ordered and Mutable**

In this section we will learn about:

1.) Creating lists
2.) Indexing and Slicing Lists
3.) Basic List Methods (range, len,sum, append, pop, sort, remove)
4.) concatination, and replication.
5.) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

creating list

In [ ]:
colors=['green','blue','black','white',1,2,3,1.99]
print(colors)
print(type(colors))

['green', 'blue', 'black', 'white', 1, 2, 3, 1.99]
<class 'list'>

indexing and slicing

In [ ]:
colors[0]

'green'

In [ ]:
colors[1:4] #start is inclusive, #stop is not inclusive of the number
colors[::-1]

[1.99, 3, 2, 1, 'white', 'black', 'blue', 'green']

Lists are mutable

In [ ]:
colors[0]='purple'
print(colors)

['purple', 'blue', 'black', 'white', 1, 2, 3, 1.99]

Basic list methods - range, len,sum, append, pop, index, min & max, sort, insert.

In [ ]:
# using range
#range(start,stop,step)
usingrange=list(range(0,11,2))
print(usingrange)

[0, 2, 4, 6, 8, 10]

In [ ]:
#finding total no of elements in a list using len(), and sum()
length=len(usingrange)
print(length)

summation=sum(usingrange)
print(summation)

6
30

In [ ]:
# append and pop to add and remove elements from the list
salaries=[100,2000,1500,4000]
salaries.append(8899)
print(salaries)

[100, 2000, 1500, 4000, 8899]

In [ ]:
# pop

salaries.pop()

8899

In [ ]:
popatindex=salaries.pop(0)
print(popatindex)
print(salaries)

2000
[1500, 4000]

In [ ]:
#min, max, index()
salary=[4,5,9,1]

print(min(salary))
print(max(salary))

print(salary.index(9))

1
9
2

In [ ]:
# sort(reverse=T/F), insert(ix,item)

forreverse=['andy','bob','mat','apple']

forreverse.sort(reverse=False)
forreverse

['andy', 'apple', 'bob', 'mat']

In [ ]:
#insert(index, item)

forreverse.insert(4,'mango')
print(forreverse)

['andy', 'apple', 'bob', 'mat', 'mango']

concatenation and replication of lists

In [ ]:
combine_list=salary+forreverse
print(combine_list)

repl=forreverse*2
print('replication of forreverse list',repl)

[4, 5, 9, 1, 'andy', 'apple', 'bob', 'mat', 'mango']
replication of forreverse list ['andy', 'apple', 'bob', 'mat', 'mango', 'andy', 'apple', 'bob', 'mat', 'mango']

Introduction to list comprehension

In [ ]:
salary=[4,5,9,1]

listcompre=[sal*100 for sal in salary]
print('comprehension', listcompre)

comprehension [400, 500, 900, 100]

# Dictionary
 Dictionaries are mappings in Python.  Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

 - so, these are **UNORDERED, and Mutable.**

This section will serve as a brief introduction to dictionaries and consist of:

1.) Constructing a Dictionary
2.) Accessing objects from a dictionary
3.) Nesting Dictionaries
4.) Basic Dictionary Methods



A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

constructing a dictionary

In [ ]:
prices={'apple':1.99,'mango':2.99,'milk':3.29,'eggs':5.69}
print(prices)
print(type(prices))

{'apple': 1.99, 'mango': 2.99, 'milk': 3.29, 'eggs': 5.69}
<class 'dict'>

Accessing objects from a dictionary

In [ ]:
# if you want to lookup price of milk
prices['apple']

1.99

nesting dictionaries

In [ ]:
#lets create nested dictionary with various stores with same items from prices.
stores={'walmart':{'apple':1.99,'mango':2.99,'milk':3.29,'eggs':5.69},
        'target':{'apple':2.99,'mango':3.99,'milk':4.29,'eggs':6.69},
        'UtaMarket':{'apple':1.99,'mango':2.79,'milk':2.29,'eggs':5.69}}
stores['UtaMarket']['milk']

2.29

Basic Dictionary Methods - keys(), values(), items()

In [ ]:
print(stores.keys())
print(stores.values())
print(stores.items())

dict_keys(['walmart', 'target', 'UtaMarket'])
dict_values([{'apple': 1.99, 'mango': 2.99, 'milk': 3.29, 'eggs': 5.69}, {'apple': 2.99, 'mango': 3.99, 'milk': 4.29, 'eggs': 6.69}, {'apple': 1.99, 'mango': 2.79, 'milk': 2.29, 'eggs': 5.69}])
dict_items([('walmart', {'apple': 1.99, 'mango': 2.99, 'milk': 3.29, 'eggs': 5.69}), ('target', {'apple': 2.99, 'mango': 3.99, 'milk': 4.29, 'eggs': 6.69}), ('UtaMarket', {'apple': 1.99, 'mango': 2.79, 'milk': 2.29, 'eggs': 5.69})])

In [ ]:
# checke if a item is present in dictionary
print('eggs' in prices)

True

In [ ]:
# combine two lists into a dictionary - using zip()
li1=['pen','paper','scale']
li2=[2,3,5]
zippped=dict(zip(li1,li2))
print(zippped)

{'pen': 2, 'paper': 3, 'scale': 5}

In [ ]:
#sort items based on keys and values -sorted(dict, key)
sorted(prices.items(), key= lambda x:x[1])

[('apple', 1.99), ('mango', 2.99), ('milk', 3.29), ('eggs', 5.69)]

#Tuples
In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed.

-tuples are **ordered and immutable**

In this section, we will get a brief overview of the following:

1.) Constructing Tuples
2.) Basic Tuple Methods
3.) Immutability
4.) When to Use Tuples

Constructing Tuples

In [ ]:
tuples=(1,2,3,'man')
print(type(tuples))

<class 'tuple'>

In [ ]:
# since these are ordered , you can perform indexing and slicing

print(tuples[::-1])

('man', 3, 2, 1)

basic methods - count and index

In [ ]:
print(tuples.count('man'))
print(tuples.index('man'))

1
3

Immutability of Tuple

In [ ]:
#weekends[0]='friday'

#tuples[3]=8

When to Use Tuples ?
- You would use tuples to present things that shouldn't be changed, such as days of the week, etc..
- If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

# Sets
Sets are an unordered collection of unique elements. We can construct them by using the **set()** function. Let's go ahead and make a set to see how it works

In [ ]:
defining_set=set()
defining_set.add(1)
defining_set.add(2)
defining_set.add(1)
print(defining_set)

{1, 2}

In [ ]:
set1={1,2,3,4}
print(type(set1))

<class 'set'>

In [ ]:
#cast a list to a set
listofdupes=[0,0,0,1,1,1,2,3,44,44,5]
sett=set(listofdupes)
print(sett)

{0, 1, 2, 3, 5, 44}

# 3. Control flow statements : if, elif, else. for, and while.

**if, elif, else Statements**

if Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:

"Hey if this case happens, perform some action"

if case1:

        perform action1
elif case2:

        perform action2
else:

        perform action3

In [ ]:
#  take a number and print it if it is even, or print if the number is positive or negative.

num=int(input('enter a number'))

if num%2==0:
  print('its a even number')
elif num<0:
  print('its a negative num')
else:
  print('positive number')

enter a number5
positive number

**for Loops**

A for loop acts as an iterator in Python; it goes through items that are in a sequence or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

for item in object:

        statements

In [ ]:
# using for loop on list of tuples
# take dept,program tuples and return programs in sorted order.
dept=[('engineering', 'information systems'),('engineering','computer science'),
          ('engineering','data science'),('engineering', 'construction management')]
programs=[]
for item1,item2 in dept:
  programs.append(item2)
programs.sort()

print('sorted programs', programs)

sorted programs ['computer science', 'construction management', 'data science', 'information systems']

In [ ]:
# using for loop on dictionary
# return the list of keys starting with letter a
age={'amy':26,'tom':18,'mat':21,'angel':23}
listt=[]
for k,v in age.items():
  if k[0]=='a':
    listt.append(k)
  else:
    pass
print(listt)

['amy', 'angel']

**while Loops**

 A while statement will repeatedly execute a single statement or group of statements as long as the condition is true.


The general format of a while loop is:

while test:

       code statements

In [ ]:
# using while loop on a list, print negative number from list
exlist=list(range(-9,8))

print(exlist)

i=0
negative=[]

while(exlist[i] < 0 ):
  negative.append(exlist[i])

  i+=1
print('negative list', negative)

[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]
negative list [-9, -8, -7, -6, -5, -4, -3, -2, -1]

# 4. Functions :
Functions are helpful when you plan on using a block of code multiple times. The function will allow you to call the same block of code without having to write it multiple times. This in turn will allow you to create more complex Python scripts.

These are two types,
1. User defined functions( def user_defined_name(arg1,arg2)
2. Anonymous functions(lambda)

In [ ]:
# user defined functions
# define a function for filtering out the missing data from a list
import math
def fitering_missing_values(listt):
  non_missing=[]
  for num in listt:
    if  not math.isnan(num):
      non_missing.append(num)
    else:
      pass
  return non_missing

li=[1,2,3,4,math.nan,5,math.nan,math.nan]

In [ ]:
li

[1, 2, 3, 4, nan, 5, nan, nan]

In [ ]:
fitering_missing_values(li)

[1, 2, 3, 4, 5]

In [ ]:
# anonymous function - lambda function

lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

In [ ]:
def ctof(c):
  f=c*(9/5)+32
  return f
ctof(0)

32.0

In [ ]:
def ctof(c): return c*(9/5)+32
ctof(0)

32.0

In [ ]:
c_to_f = lambda c : c*(9/5)+32

In [ ]:
c_to_f(0)

32.0